{% extends 'base.html.twig' %}

{% block content %}
    <div class="text-center">
        <h4 class="display-4 mt-5 ">Envoyer un Mail</h4>
        <p class="text-danger">{{ errorLength }}</p>
        <p class="text-danger">{{ errorMail }}</p>
        <p class="text-danger">{{ errorEmpty }}</p>
        <p class="text-danger">{{ errorMessageUpload }}</p>
    </div>
    <form style="margin-left: 600px; margin-right: 600px; margin-top: 100px;" method="POST" enctype="multipart/form-data" action="/mail/create">
        <div class="mb-3">
            <label for="senderName" class="form-label">Nom de l'expéditeur *</label>
            <input value="{{ values["senderName"] }}" type="text" class="form-control" placeholder="Saisir un nom" name="senderName">
        </div>
        <div class="mb-3">
            <label for="senderMail" class="form-label">Mail de l'expéditeur *</label>
            <div class="input-group">
                <span class="input-group-text" id="addonMailSender">@</span>
                <input value="{{ values["senderMail"] }}" type="email" class="form-control" placeholder="Saisir le mail de l'expediteur" name="senderMail"
                       aria-describedby="addonMailSender">
            </div>
        </div>
        <div class="mb-3">
            <label for="receiverMail" class="form-label">Mail du récepteur *</label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="addonMailReceiver">@</span>
                <input value="{{ values["receiverMail"] }}" type="email" class="form-control" placeholder="Saisir le mail du recepteur"
                       name="receiverMail" aria-describedby="addonMailReceiver">
            </div>
        </div>
        <div class="mb-3">
            <label for="ccMail" class="form-label">Adresse CC (Plusieurs adresses possible)</label>
            <p><sup>Ajouter un : ',' entre chaque adresse mail</sup></p>
            <div class="input-group">
                <span class="input-group-text" id="addonMailCC">@</span>
                <input value="{{ values["ccMail"] }}" type="email" multiple class="form-control" placeholder="CC" name="ccMail"
                       aria-describedby="addonMailCC">
            </div>
        </div>
        <div class="mb-3">
            <label for="subject" class="form-label">Sujet du mail *</label>
            <input value="{{ values["subject"] }}" type="text" class="form-control" placeholder="Saisir un sujet" name="subject">
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Message *</label>
            <input value="{{ values["message"] }}" type="text" class="form-control" placeholder="Saisir votre message" name="message">
        </div>
        <div class="mb-3">
            <label for="replyMail" class="form-label">Reply to</label>
            <div class="input-group">
                <span class="input-group-text" id="addonMailReply">@</span>
                <input value="{{ values["replyMail"] }}" type="email" class="form-control" placeholder="Saisir un mail a reply to" name="replyMail"
                       aria-describedby="addonMailReply">
            </div>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Importer des pièces jointes</label>
            <input class="form-control" type="file" name="formFile">
        </div>
        <p>Format accepté : .jpg / .png / .gif / .jpeg / .pdf</p>
        <p><sup>(*)</sup> Obligatoire</p>
        <button type="submit" class="btn btn-primary mt-1">Envoyer le mail</button>
    </form>

{% endblock %}